script(src="client.js")
link(rel='stylesheet', href='style.css')
if (session.isAdmin)
    header
        a(href="/")= "Home Page"
        br
        a(href="/insertBook")= `Book Insert Page`
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href=`/currentCart`)= `View Cart`
        br
        a(href=`/reports`)= `Reports`
        br
        a(href='/deleteBooks')= "Book Deletion"
        br
        a(href='/logout')= "Logout"
else 
    header
        a(href="/")= "Home Page"
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href='/logout')= "Logout"
        br
        a(href=`/currentCart`)= `View Cart`
        br
body
    ul
        for row in queryResult.rows
            li= `Title: ${row.title}, Genre: ${row.genre}, ISBN: ${row.isbn}, Pages: ${row.num_pages} Price:${row.price}, Stock:${row.stock}`

            if (hasAuthData)
                ul
                    for authRow in authorResult.rows
                        li=`Author: ${authRow.name}, ${authRow.author_id}`

            if (hasPubData)
                ul
                    for pubRow in publisherResult.rows
                        li=`Publisher: ${pubRow.name}, ${pubRow.publisher_id}`

            form(action='/orderBook' method="post")
                p How many of copies would you like to add to cart? 
                    input(type="text" name= "quantity" required)
                    input(type="hidden" name ="isbn" value = `${row.isbn}`)
                    input(type="hidden" name ="title" value = `${row.title}`)
                button(type="submit") Add book to cart