script(src="client.js")
link(rel='stylesheet', href='style.css') 

if (session.isAdmin)
    header
        a(href="/")= "Home Page"
        br
        a(href="/insertBook")= `Book Insert Page`
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href=`/currentCart`)= `View Cart`
        br
        a(href=`/reports`)= `Reports`
        br
        a(href='/deleteBooks')= "Book Deletion"
        br
        a(href='/logout')= "Logout"
else 
    header
        a(href="/")= "Home Page"
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href='/logout')= "Logout"
        br
        a(href=`/currentCart`)= `View Cart`
        br
head
    p This is the search page
    
body
    p Search: 
        br
        br
        p Enter Title to search by Title
        input#searchConditionTitle(type="textbox")
        br
        button#searchButtonTitle(type="button" onclick="searchByTitle()") Search for Books by Title
        br
        br
        p Enter Genre to search by Genre
        input#searchConditionGenre(type="textbox")
        br
        button#searchButtonGenre(type="button" onclick="searchByGenre()") Search for Books by Genre
        br
        br
        p Enter Author Name to Search by Author
        input#searchConditionAuthor(type="textbox")
        br
        button#searchButtonAuthor(type="button" onclick="searchByAuthor()") Search for Books by Author
        br
        br
        p Enter Min Price
        input#searchConditionMinPrice(type="textbox")
        p Enter Max Price 
        input#searchConditionMaxPrice(type="textbox")
        br
        button#searchButtonPrice(type="button" onclick="searchByPrice()") Search for Books by Price (Min,Max)
        br
        br
        button#searchButtonAll(type="button" onclick="searchByAll()") Search for Books by All Conditions
    p Book List
    ul
        for row in queryResult.rows
            li= `Title: ${row.title}, Genre: ${row.genre} ISBN: ${row.isbn} Price: ${row.price}`
            a(href= `https://boppa-bat-bookstore.herokuapp.com/bookRedirect/${row.isbn}`) Link to specific book page
