link(rel='stylesheet', href='style.css')
if (session.isAdmin)
    header
        a(href="/")= "Home Page"
        br
        a(href="/insertBook")= `Book Insert Page`
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href=`/currentCart`)= `View Cart`
        br
        a(href=`/reports`)= `Reports`
        br
        a(href='/deleteBooks')= "Book Deletion"
        br
        a(href='/logout')= "Logout"
else 
    header
        a(href="/")= "Home Page"
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href='/logout')= "Logout"
        br
        a(href=`/currentCart`)= `View Cart`
        br
body
    h1 Cart
    
    ul
        for item in cart
            li= `Title: ${item.title}, Quantity: ${item.quantity}, ISBN: ${item.isbn}`

    form(action='/placeOrder' method="post")
        p Shipping Address House Number: 
            input(type="text" name= "shn" required)
        p Shipping Address Street Name: 
            input(type="text" name= "ssn" required)
        p Shipping Address City Name: 
            input(type="text" name= "scn" required)
        p Shipping Address Province Name (use abbreviations, E.G ON,QC,AB...): 
            input(type="text" name= "spn" required)
        p Shipping Address Postal Code (use form Canadian form A1B2C3)
            input(type="text" name= "spc" required)
        p Billing Address House Number: 
            input(type="text" name= "bhn" required)
        p Billing Address Street Name: 
            input(type="text" name= "bsn" required)
        p Billing Address City Name: 
            input(type="text" name= "bcn" required)
        p Billing Address Province Name (use abbreviations, E.G ON,QC,AB...): 
            input(type="text" name= "bpn" required)
        p Billing Address Postal Code (use form Canadian form A1B2C3)
            input(type="text" name= "bpc" required)
        button(type="submit") Submit Order

    form(action='/placeOrderWithSaved' method="post")
        button(type="submit") Submit Order with Saved Addresses