script(src="client.js")
link(rel='stylesheet', href='style.css')
head
    link(rel="shortcut icon" type="image/jpg" href="book-16.ico")

if (session.loggedin)
    if (session.isAdmin)
        header
            a(href="/")= "Home Page"
            br
            a(href="/insertBook")= `Book Insert Page`
            br
            a(href=`/bookSearch`)= `Book Search Page`
            br
            a(href=`/currentCart`)= `View Cart`
            br
            a(href=`/reports`)= `Reports`
            br
            a(href='/deleteBooks')= "Book Deletion"
            br
            a(href='/viewOrders')= "View admin orders"
            br
            a(href='/logout')= "Logout"
            br
    else 
        header
            a(href="/")= "Home Page"
            br
            a(href=`/bookSearch`)= `Book Search Page`
            br
            a(href=`/currentCart`)= `View Cart`
            br
            a(href='/viewOrders')= "View your orders"
            br
            a(href='/logout')= "Logout"
            br
    head
        p This is the home page
        
    body
        p= `Welcome to Boppa Bat's Bookstore ${session.username}. Please have a look around.`
else
    header
        a(href='/login')= "Login"
        br
        a(href='/register')= "Register"
    body 
        p Please Login or register to access site features.
