script(src="client.js")
link(rel='stylesheet', href='style.css') 

if (session.isAdmin)
    header
        a(href="/")= "Home Page"
        br
        a(href="/insertBook")= `Book Insert Page`
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href=`/currentCart`)= `View Cart`
        br
        a(href=`/reports`)= `Reports`
        br
        a(href='/deleteBooks')= "Book Deletion"
        br
        a(href='/viewOrders')= "View your orders"
        br
        a(href='/logout')= "Logout"
        br
else 
    header
        a(href="/")= "Home Page"
        br
        a(href=`/bookSearch`)= `Book Search Page`
        br
        a(href=`/currentCart`)= `View Cart`
        br
        a(href='/viewOrders')= "View your orders"
        br
        a(href='/logout')= "Logout"
        br
head
    p= `This is the order view page for ${session.username}`
    
body
    ul
        for row in result.rows
            li= `OrderID: ${row.order_id}, Date: ${row.order_date}. Current Location is: ${row.order_house_number},${row.order_street},${row.order_city},${row.order_province},${row.order_postal_code}`
